[Address]
Address=10.20.30.40/24

[Link]
MTUBytes=1400

[Match]
MACAddress=00:aa:bb:cc:dd:ee
Name=eth2

[Network]
Bond=bond0
DHCP=no
DNS=9.9.9.9 8.8.8.8
Domains=example.org
VLAN=vl101
