[Address]
Address=10.0.0.10/24

[Link]
MACAddress=00:11:22:33:44:88
MTUBytes=1500

[Match]
Name=br1

[Network]
DHCP=no
DNS=9.9.9.9
Domains=vlan.bridge

[Route]
Destination=10.0.0.0/24
Gateway=10.0.0.1
Metric=200
