[Unit]
Description=echo_server
Before=cloud-init-local.service

[Service]
ExecStart=/usr/bin/env python3 /var/tmp/echo_server.py

[Install]
WantedBy=multi-user.target
