[Unit]
Description=Apply the settings specified in cloud-config
After=network.target syslog.target cloud-config.target
Requires=cloud-config.target
Wants=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/cloud-init modules --mode=config
RemainAfterExit=yes
TimeoutSec=0

# Output needs to appear in instance console output
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
