build
cloud_init.egg-info
dist
*.pyc
__pycache__
.tox
.coverage
doc/rtd_html
parts
prime
stage
*.snap
*.cover
.idea/
.venv/
.pc/
.cache/
.mypy_cache/
.pytest_cache/
.vscode/
htmlcov/

# Ignore packaging artifacts
cloud-init.dsc
cloud-init_*.build
cloud-init_*.buildinfo
cloud-init_*.changes
cloud-init_*.deb
cloud-init_*.dsc
cloud-init_*.orig.tar.gz
cloud-init_*.tar.xz
cloud-init_*.upload

# user test settings
tests/integration_tests/user_settings.py
