*.asc
*.build
*.buildinfo
*.changes
*.cover
*.deb
*.dsc
*.egg-info
*.pyc
*.snap
*.tar.gz
*.tar.xz
*.upload
.cache/
.coverage
.coverage.*
.hypothesis/
.idea/
.mypy_cache/
.pc/
.pytest_cache/
.python-version
.tox
.venv/
.vscode/
__pycache__
build
changelog-file
dist
doc/rtd_html
htmlcov/
parts
prime
releasenotes-file
srpm/
stage
tags
tests/integration_tests/user_settings.py
