build
cloud_init.egg-info
dist
*.pyc
__pycache__
.tox
.coverage
.coverage.*
.python-version
doc/rtd_html
parts
prime
stage
*.snap
*.cover
.idea/
.venv/
.pc/
.cache/
.mypy_cache/
.pytest_cache/
.vscode/
htmlcov/
tags
.hypothesis/
srpm/
changelog-file
releasenotes-file
*.asc


# Ignore packaging artifacts
cloud-init*.dsc
cloud-init*.build
cloud-init*.buildinfo
cloud-init*.changes
cloud-init*.deb
cloud-init*.tar.gz
cloud-init*.tar.xz
cloud-init*.upload

# user test settings
tests/integration_tests/user_settings.py
