[MASTER]

# --go-faster, use multiple processes to speed up Pylint
jobs=4


[MESSAGES CONTROL]

# Errors only
disable=C, F, I, R, W


[REPORTS]

# Set the output format. Available formats are text, parseable, colorized, msvs
output-format=colorized

# Just the errors please, no full report
reports=no


[TYPECHECK]

# List of module names for which member attributes should not be checked
# (useful for modules/projects where namespaces are manipulated during runtime
# and thus existing member attributes cannot be deduced by static analysis. It
# supports qualified module names, as well as Unix pattern matching.
ignored-modules=six.moves,pkg_resources

# List of class names for which member attributes should not be checked (useful
# for classes with dynamically set attributes). This supports the use of
# qualified names.
ignored-classes=optparse.Values,thread._local

# List of members which are set dynamically and missed by pylint inference
# system, and so shouldn't trigger E1101 when accessed. Python regular
# expressions are accepted.
generated-members=types,http.client,command_handlers

