# PyPI requirements for cloud-init cloud tests
# https://cloudinit.readthedocs.io/en/latest/topics/cloud_tests.html
#
# Note: Changes to this requirements may require updates to
# the packages/pkg-deps.json file as well.
#

# ec2 backend
boto3==1.14.53

# ssh communication
paramiko==2.7.2
cryptography==3.3.2

# lxd backend
pylxd==2.2.11

# finds latest image information
git+https://git.launchpad.net/simplestreams

# azure backend
azure-storage==0.36.0
msrestazure==0.6.1
azure-common==1.1.23
azure-mgmt-compute==7.0.0
azure-mgmt-network==5.0.0
azure-mgmt-resource==4.0.0
azure-mgmt-storage==6.0.0
