doc8
m2r2
sphinx==4.3.0
sphinx_rtd_theme==1.0.0
pyyaml
sphinx-panels

# Indirect dependencies
jinja2<3.1.0  # https://github.com/readthedocs/readthedocs.org/issues/9037
docutils==0.16  # https://github.com/readthedocs/sphinx_rtd_theme/issues/1115
