[tool.black]
line-length = 79

[tool.isort]
profile = "black"
line_length = 79
# We patch logging in main.py before certain imports
skip = ["cloudinit/cmd/main.py", ".tox", "packages", "tools"]

[tool.mypy]
follow_imports = "silent"
warn_unused_ignores = "true"
warn_redundant_casts = "true"
exclude=[]

[[tool.mypy.overrides]]
module = [
  "apport.*",
  "BaseHTTPServer",
  "configobj",
  "cloudinit.feature_overrides",
  "httpretty",
  "httplib",
  "jsonpatch",
  "netifaces",
  "paramiko.*",
  "pycloudlib.*",
  "responses",
  "serial",
  "tests.integration_tests.user_settings"
]
ignore_missing_imports = true
