# Needed generally in tests

-r requirements.txt

# Avoid breaking change in `testpaths` treatment forced
# test/unittests/conftest.py to be loaded by our integration-tests tox env
# resulting in an unmet dependency issue:
# https://github.com/pytest-dev/pytest/issues/11104
pytest!=7.3.2

pytest-cov
pytest-mock
setuptools
jsonschema
responses
passlib
