[Address]
Address=172.16.1.10/24

[Link]
MACAddress=00:11:22:33:44:aa
MTUBytes=9000

[Match]
Name=br0

[Network]
DHCP=no
DNS=1.1.1.1
Domains=bridge.test

[Route]
Destination=0.0.0.0/0
Gateway=172.16.1.1
Metric=100
