[Bond]
ARPAllTargets=ff
AllSlavesActive=true
LACPTransmitRate=fast
LearnPacketIntervalSec=12
MIIMonitorSec=100ms
Mode=802.3ad
PacketsPerSlave=42
TransmitHashPolicy=layer2+3

[NetDev]
Kind=bond
MACAddress=00:11:22:33:44:77
MTUBytes=333
Name=bond0
