## template:jinja
#!/bin/sh

# PROVIDE: cloudinitlocal
{#
``cloudinitlocal`` purposefully does not depend on ``dsidentify``.
That makes it easy for image builders to create images without ``dsidentify``.
#}
# REQUIRE: NETWORKING

# After NETWORKING because we don't want staticroute to wipe
# the route set by the DHCP client toward the meta-data server.
$_rc_subr_loaded . /etc/rc.subr

name="cloudinitlocal"
start_cmd="start_cloud_init_local"
start_cloud_init_local()
{
    if test -e {{prefix}}/etc/cloud/cloud-init.disabled; then
       warn "cloud-init disabled by cloud-init.disabled file"
       exit 0
    fi
    {{prefix}}/bin/cloud-init init -l
}

load_rc_config $name
run_rc_command "$1"
