## template:jinja
#!/bin/sh

# PROVIDE: dsidentify
# REQUIRE: CRITLOCALMOUNTED
# BEFORE:  cloudinitlocal

$_rc_subr_loaded . /etc/rc.subr

name="dsidentify"
start_cmd="start_dsidentify"
start_dsidentify()
{
    if test -e {{prefix}}/etc/cloud/cloud-init.disabled ; then
      warn "cloud-init disabled by cloud-init.disabled file"
      exit 0
    fi
    {{prefix}}/lib/cloud-init/ds-identify
}

load_rc_config $name
run_rc_command "$1"