[Unit]
Description=Initial cloud-init job (metadata service crawler)
After=cloud-init-local.service networking.service
Before=network-online.target sshd.service sshd-keygen.service systemd-user-sessions.service
Requires=networking.service
Wants=local-fs.target cloud-init-local.service sshd.service sshd-keygen.service

[Service]
Type=oneshot
ExecStart=/usr/bin/cloud-init init
RemainAfterExit=yes
TimeoutSec=0

# Output needs to appear in instance console output
StandardOutput=journal+console

[Install]
WantedBy=cloud-init.target
