[Unit]
Description=Execute cloud user/final scripts
After=network.target cloud-config.service syslog.target rc-local.service
Wants=network.target cloud-config.service

[Service]
Type=oneshot
ExecStart=/usr/bin/cloud-init modules --mode=final
RemainAfterExit=yes
TimeoutSec=0

# Output needs to appear in instance console output
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
