[Unit]
Description=Initial cloud-init job (pre-networking)
DefaultDependencies=no
Wants=local-fs.target
After=local-fs.target
Conflicts=shutdown.target
Before=network-pre.target
Before=shutdown.target

[Service]
Type=oneshot
ExecStart=/usr/bin/cloud-init init --local
## FIXME: remove this when cloud-initn local does it itself
## or otherwise better signals any blocking udev events
ExecStopPost=touch /run/cloud-init/network-config-ready
RemainAfterExit=yes
TimeoutSec=0

# Output needs to appear in instance console output
StandardOutput=journal+console

[Install]
WantedBy=cloud-init.target
