[Unit]
Description=cloud-init hotplug hook daemon
DefaultDependencies=yes
Wants=cloud-final.service
After=cloud-final.service cloud-init-hotplugd.socket

[Service]
Type=simple
ExecStart=/usr/bin/cloud-init devel hotplug-hook --input=-
SyslogIdentifier=cloud-init-hotplugd

[Install]
WantedBy=cloud-init.target
