# This file is part of cloud-init. See LICENSE file for license information.
# Handle device adds only
ACTION!="add|remove", GOTO="cloudinit_end"
LABEL="cloudinit_hook"
SUBSYSTEM=="net|block", RUN+="/usr/lib/cloud-init/hook-hotplug"
LABEL="cloudinit_end"
