# Handle device adds only
ACTION!="add", GOTO="cloudinit_end"
LABEL="cloudinit_hook"
SUBSYSTEM=="net|block", RUN+="/usr/lib/cloud-init/hook-hotplug"
LABEL="cloudinit_end"
