Source: cloud-init
Section: admin
Priority: extra
Maintainer: Scott Moser <smoser@ubuntu.com>
Build-Depends: cdbs, debhelper (>= 5.0.38), python-all-dev (>= 2.3.5-11), python-central (>= 0.5.6), quilt
XS-Python-Version: all
Standards-Version: 3.8.0

Package: cloud-init
Architecture: all
Depends: python, procps, python-configobj, python-cheetah, update-motd, python-yaml, python-software-properties, ${python:Depends}
Provides: ec2-init
Replaces: ec2-init (<<0.5.3)
Conflicts: ec2-init (<<0.5.3)
XB-Python-Version: ${python:Versions}
Description: Init scripts for cloud instances
 cloud instances need special scripts to run during initialisation
 to retrieve and install ssh keys and to let the user run various scripts.
