deb $mirror $codename main universe
deb-src $mirror $codename main universe
deb $mirror $codename-updates main universe
deb-src $mirror $codename-updates main universe
deb http://security.ubuntu.com/ubuntu $codename-security main universe
deb-src http://security.ubuntu.com/ubuntu $codename-security main universe
