## template:jinja
## Note, this file is written by cloud-init on first boot of an instance
## modifications made here will not survive a re-bundle.
## if you wish to make changes you can:
## a.) add 'apt_preserve_sources_list: true' to /etc/cloud/cloud.cfg
##     or do the same in user-data
## b.) add sources in /etc/apt/sources.list.d
## c.) make changes to template file /etc/cloud/templates/sources.list.tmpl

# See http://help.ubuntu.com/community/UpgradeNotes for how to upgrade to
# newer versions of the distribution.
deb {{mirror}} {{codename}} main restricted
deb-src {{mirror}} {{codename}} main restricted

## Major bug fix updates produced after the final release of the
## distribution.
deb {{mirror}} {{codename}}-updates main restricted
deb-src {{mirror}} {{codename}}-updates main restricted

## N.B. software from this repository is ENTIRELY UNSUPPORTED by the Ubuntu
## team. Also, please note that software in universe WILL NOT receive any
## review or updates from the Ubuntu security team.
deb {{mirror}} {{codename}} universe
deb-src {{mirror}} {{codename}} universe
deb {{mirror}} {{codename}}-updates universe
deb-src {{mirror}} {{codename}}-updates universe

## N.B. software from this repository is ENTIRELY UNSUPPORTED by the Ubuntu 
## team, and may not be under a free licence. Please satisfy yourself as to 
## your rights to use the software. Also, please note that software in 
## multiverse WILL NOT receive any review or updates from the Ubuntu
## security team.
deb {{mirror}} {{codename}} multiverse
deb-src {{mirror}} {{codename}} multiverse
deb {{mirror}} {{codename}}-updates multiverse
deb-src {{mirror}} {{codename}}-updates multiverse

## N.B. software from this repository may not have been tested as
## extensively as that contained in the main release, although it includes
## newer versions of some applications which may provide useful features.
## Also, please note that software in backports WILL NOT receive any review
## or updates from the Ubuntu security team.
deb {{mirror}} {{codename}}-backports main restricted universe multiverse
deb-src {{mirror}} {{codename}}-backports main restricted universe multiverse

##
## "entries" are mega things that can get rendered into sources.list format.
## pocket_aliases allow for 'release' or 'updates' rather than
##  {{codename}} and {{codename}}-released
##
##
## one thing not done here is that for 'entry' rendering
## the components cannot vary per pocket.
##  ie, each pocket (release or updates) will have the same
##  list of components
apt:
  pocket_aliases:
    release: {{codename}}
    updates: {{codename}}-updates
    proposed: {{codename}}-proposed
    backports: {{codename}}-backports
    security: {{codename}}-security
  sources:
    main:
      path: "/etc/apt/sources.list"
      # if entries is present, then we render each of the entries defined.
      entries: [primary, security]
      key: yourkey
    my-repo2.list:
      # use source as it would before (supporting templates there)
      # and entries can be in their rendering namespace
      source: deb $primary.mirror $RELEASE multiverse

  entries:
    primary:
      mirrors:
       - arches: [i386, amd64]
         mirror: http://archive.ubuntu.com/ubuntu
         search:
           - http://%(ec2_region)s.ec2.archive.ubuntu.com/ubuntu
           - http://%(availability_zone)s.clouds.archive.ubuntu.com/ubuntu
           - http://%(region)s.clouds.archive.ubuntu.com/ubuntu
       - arches: [default]
         mirror: http://ports.ubuntu.com/ubuntu-ports
         search: []
      pockets: [release, updates, proposed, backports]
      components: [main, restricted, universe, multiverse]
      types: [deb, deb-src]

    security:
      mirrors:
       - arches: [default]
         mirror: http://archive.ubuntu.com/ubuntu
      pockets: [securityrelease, updates, proposed, backports]
      components: [main, restricted, universe]
      types: [deb, deb-src]

 primary:
   mirror

deb {{security}} {{codename}}-security main restricted
deb-src {{security}} {{codename}}-security main restricted
deb {{security}} {{codename}}-security universe
deb-src {{security}} {{codename}}-security universe
deb {{security}} {{codename}}-security multiverse
deb-src {{security}} {{codename}}-security multiverse

## Uncomment the following two lines to add software from Canonical's
## 'partner' repository.
## This software is not part of Ubuntu, but is offered by Canonical and the
## respective vendors as a service to Ubuntu users.
# deb http://archive.canonical.com/ubuntu {{codename}} partner
# deb-src http://archive.canonical.com/ubuntu {{codename}} partner
