             _
           _( )_
          (     )
         (_______)
    _     \ \ \ \
  _( )_        _
 (     )     _( )_
(_______)   (     )
 \ \ \ \   (_______)
            \ \ \ \

Cloud-init v. {{version}}
Starting stage: {{stage}} on {{timestamp}}
System uptime: {{uptime}} seconds
--
