name: CLA Check

on:
  pull_request:
    branches-ignore:
      - 'ubuntu/**'

jobs:
  cla-check:
    runs-on: ubuntu-latest
    steps:
      - name: Check if CLA signed
        uses: canonical/has-signed-canonical-cla@v2
